@import 'news_details';
@import 'alumnus';
@import 'contact';

$linkColor: #BF251C;
$grayButton: #333;
$borderColor: #bbb;

body {
	background: url('img/background.jpg');
	background-repeat: repeat;
	background-position: top left;
	background-attachment: fixed;
}

// layout
.container {
	background: #f4f4f4;
}

.pre-header {
	height: 50px;
	// border-bottom: 2px solid #A3A2A2;
	background: #fcfff4; /* Old browsers */
	background: -moz-linear-gradient(top, #fcfff4 0%, #EFECEC 40%, rgba(179,190,173,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#EFECEC), color-stop(100%,#B8B8B8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #fcfff4 0%,#EFECEC 40%,#B8B8B8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #fcfff4 0%,#EFECEC 40%,#B8B8B8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #fcfff4 0%,#EFECEC 40%,#B8B8B8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #fcfff4 0%, #EFECEC 40%, #B8B8B8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */
	img {
		margin-top: 9px;
		float: left;
		display: none;
	}

	ul {
		float: left;
		margin-top: 14px;

		li {
			display: inline;
			list-style: none;
			margin-right: 10px;
			color: #5F5C5C;

			a {
				color: #5F5C5C;

				&:hover {
					color: #838383;
				}
			}

			&.username {
				padding-left: 10px;
				padding-right: 10px;
				color: rgb(234, 33, 48);
				font-size: 14px;
			}
		}
	}

	form#searchbox {
		background-color: #eaf8fc;
		background-image: linear-gradient(#fff,#D2D2D2);
		border-radius: 35px;
		border-width: 1px;
		border-style: solid;
		border-color: #DCDEDF #C4C7C8 #B8B8B8;
		height: 39px;
		margin-top: 5px;
		padding: 5px;
		overflow: hidden;

		input#search {
			padding: 5px 9px;
			height: 23px;
			width: 76%;
			border: 1px solid #B3C2C5;
			font-size: 13px;
			background: #f1f1f1;
			-moz-border-radius: 50px 3px 3px 50px;
			border-radius: 50px 3px 3px 50px;
			-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25) inset,0 1px 0 white;
			-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25) inset,0 1px 0 white;
			box-shadow: 0 1px 3px rgba(0,0,0,0.25) inset,0 1px 0 white;
		}

		input#submit {
			-moz-border-radius: 3px 50px 50px 3px;
			border-radius: 3px 50px 50px 3px;
			border-width: 1px;
			border-style: solid;
			border-color: #C2BEBE;
			-moz-box-shadow: 0 0 1px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.3) inset;
			-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.3) inset;
			box-shadow: 0 0 1px rgba(0,0,0,0.3),0 1px 0 rgba(255,255,255,0.3) inset;
			height: 26px;
			margin: 0 0 0 10px;
			padding: 0;
			font-size: 13px;
			width: 20%;
			cursor: pointer;
			color: #6E6868;
			text-shadow: 0 1px 0 rgba(255,255,255,0.5);
			font-weight: 600;
		}

		#submit:hover {
			background-color: #FADEDE;
		}

		#submit:active {
			background: #8E8C8C;
			outline: none;
			box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
		}
	}
}

.header {
	.static-content img {
		width: 100%;
	}
	nav{
		ul {
			list-style-type: none;
			margin-top:0;
			margin-bottom: 15px;
			padding: 0;

			&.level1{
				height:25px;
				> li {
					display:inline;
					float:left;
					padding-right:5px;
					> div > a{
						background-color: white;
						color:$grayButton;
						&.selected{
							background-color:$grayButton;
							color: white;
						}
						padding: 6px 16px;
						margin-bottom: 0;
						font-size: 14px;
						font-weight: 400;
						border: 1px solid transparent;
						border-radius: 4px;
						width: auto;
						&:hover{
							background-color:$grayButton;
							color: white;
						}
					}
				}
			}
			&.level2{
				li{
					background-color: #dfdfdf;
					a{
						color:black;
						&:hover{
							background-color:$grayButton;
							text-decoration:underline;
							color:white;
						}
					}
				}
			}
		}
	}
}

.main {
	background: #e3e3e3;
	border-top: 2px solid #bbb;

	div.error {
		font-size: 20px;
		color: rgb(226, 82, 82);
		margin-top: 5px;
		margin-bottom: 30px;
	}

	.login {
		h1 {
			margin-bottom: 25px;
		}

		width: 100%;

		.row {
			margin-bottom: 10px;
		}
	}

	.home-carousel {
		margin-top: 25px;

		img {
			width: 100%;
		}
	}

	.search-results {
		font-weight: 600;
		font-size: 16px;
	}

	.right-sidebar-content-holder {
		background-color: white;
		border-bottom: 1px solid #ccc;
		border-top: 1px solid #d8d8d8;
		border-right: 1px solid #ccc;
		border-left: 1px solid #DBDBDB;
		padding: 12px;
		margin-top: 25px;
		box-shadow: 0 0 5px rgba(0,0,0,0.15);

		h2 {
			background: #d8d8d8;
			background: -moz-linear-gradient(#fff, #d8d8d8);
			background: -webkit-linear-gradient(#fff, #d8d8d8);
			background: -o-linear-gradient(#fff, #d8d8d8);
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#d8d8d8')";
			background: linear-gradient(#fff, #d8d8d8);
			font-size: 22px;
			text-align: center;
			padding-bottom: 6px;
			margin-top: -2%;
			margin-left: -5%;
			margin-right: -5%;
			color: $grayButton;
		}

		div.content-holder {
			margin: 0 auto;
			width: 80%;
		}

		.sidebar-sprite {
			background-image: url(img/sidebars.png);
			background-repeat: no-repeat;
			display: block;
		}

		.sprite-sidebar_0 {
			width: 180px;
			height: 115px;
			background-position: -5px -5px;
		}

		.sprite-sidebar_1 {
			width: 180px;
			height: 115px;
			background-position: -5px -130px;
		}

		.sprite-sidebar_2 {
			width: 180px;
			height: 100px;
			background-position: -195px -5px;
		}
	}
}

.footer {
	background: #111;
	color: white;
	padding-top: 20px;
	padding-bottom: 30px;
	border-top: 2px solid #6C6060;

	ul {
		padding: 0;

		li {
			display: inline;
			margin-right: 5px;

			a {
				color: #C7C7C7;

				&:hover {
					color: #838383;
				}
			}
			&.right{
				padding-left: 20%;
			}
			&:first-child{
				margin-left: 34px;
			}
		}
	}
}

.clear{
	clear:both;
}

.margin-t5{
	margin-top:5px;
}


// news content

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.dropdown:hover > .dropdown-menu {
    display: block;
 }