.news-details-template {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 12px;
  background-color: white;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #d8d8d8;
  border-right: 1px solid #ccc;
  border-left: 1px solid #DBDBDB;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); }
  .news-details-template .date-image {
    float: left;
    padding-right: 10px; }
    .news-details-template .date-image div.box {
      background-image: url('img/date-cover.png');
      width: 40px; }
      .news-details-template .date-image div.box div.day {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        color: white; }
      .news-details-template .date-image div.box .month {
        color: white;
        text-align: center;
        padding-top: 2px;
        font-size: 8px; }
    .news-details-template .date-image div.year {
      font-size: 11px;
      text-align: center;
      font-weight: 600; }
  .news-details-template .news-headline {
    float: left;
    width: 90%; }
    .news-details-template .news-headline h2 {
      margin-top: 0;
      margin-bottom: 25px;
      font-size: 26px; }
      .news-details-template .news-headline h2 a {
        color: #BF251C; }
        .news-details-template .news-headline h2 a:hover {
          color: #BF251C; }

.alumni-context h3, .teachers-custom-table h3 {
  padding-left: 20px; }
.alumni-context table a:link, .teachers-custom-table table a:link {
  color: #666;
  font-weight: bold;
  text-decoration: none; }
.alumni-context table a:visited, .teachers-custom-table table a:visited {
  color: #999999;
  font-weight: bold;
  text-decoration: none; }
.alumni-context table a:active, .alumni-context table a:hover, .teachers-custom-table table a:active, .teachers-custom-table table a:hover {
  color: #bd5a35;
  text-decoration: underline; }
.alumni-context table, .teachers-custom-table table {
  font-family: Arial, Helvetica, sans-serif;
  color: #666;
  font-size: 12px;
  text-shadow: 1px 1px 0px #fff;
  background: #eaebec;
  margin: 20px;
  border: #ccc 1px solid;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  box-shadow: 0 1px 2px #d1d1d1; }
.alumni-context table th, .teachers-custom-table table th {
  padding: 15px 22px 12px 25px;
  border-top: 1px solid #fafafa;
  border-bottom: 1px solid #e0e0e0;
  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top, #ededed, #ebebeb); }
.alumni-context table th:first-child, .teachers-custom-table table th:first-child {
  text-align: left;
  padding-left: 20px; }
.alumni-context table tr:first-child th:first-child, .teachers-custom-table table tr:first-child th:first-child {
  -moz-border-radius-topleft: 3px;
  -webkit-border-top-left-radius: 3px;
  border-top-left-radius: 3px; }
.alumni-context table tr:first-child th:last-child, .teachers-custom-table table tr:first-child th:last-child {
  -moz-border-radius-topright: 3px;
  -webkit-border-top-right-radius: 3px;
  border-top-right-radius: 3px; }
.alumni-context table tr, .teachers-custom-table table tr {
  text-align: center;
  padding-left: 20px; }
.alumni-context table td:first-child, .teachers-custom-table table td:first-child {
  text-align: left;
  padding-left: 20px;
  border-left: 0; }
.alumni-context table td, .teachers-custom-table table td {
  padding: 12px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top, #fbfbfb, #fafafa); }
.alumni-context table tr.even td, .teachers-custom-table table tr.even td {
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  background: -moz-linear-gradient(top, #f8f8f8, #f6f6f6); }
.alumni-context table tr:last-child td, .teachers-custom-table table tr:last-child td {
  border-bottom: 0; }
.alumni-context table tr:last-child td:first-child, .teachers-custom-table table tr:last-child td:first-child {
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px; }
.alumni-context table tr:last-child td:last-child, .teachers-custom-table table tr:last-child td:last-child {
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px; }
.alumni-context table tr:hover td, .teachers-custom-table table tr:hover td {
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0); }

.add-to-alumnus .row {
  padding-top: 10px; }

button.search-users {
  width: 100%; }

body {
  background: url('img/background.jpg'); }

.container {
  background: #f4f4f4; }

.pre-header {
  height: 50px;
  background: #fcfff4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #fcfff4 0%, #EFECEC 40%, #b3bead 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfff4), color-stop(40%, #EFECEC), color-stop(100%, #B8B8B8));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fcfff4 0%, #EFECEC 40%, #B8B8B8 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fcfff4 0%, #EFECEC 40%, #B8B8B8 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fcfff4 0%, #EFECEC 40%, #B8B8B8 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #fcfff4 0%, #EFECEC 40%, #B8B8B8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
  /* IE6-9 */ }
  .pre-header img {
    margin-top: 9px;
    float: left;
    display: none; }
  .pre-header ul {
    float: left;
    margin-top: 11px; }
    .pre-header ul li {
      display: inline;
      list-style: none;
      margin-right: 10px;
      color: #5F5C5C; }
      .pre-header ul li a {
        color: #5F5C5C; }
        .pre-header ul li a:hover {
          color: #838383; }
      .pre-header ul li.username {
        padding-left: 10px;
        padding-right: 10px;
        color: #ea2130;
        font-size: 14px; }
  .pre-header form#searchbox {
    background-color: #eaf8fc;
    background-image: linear-gradient(#fff, #D2D2D2);
    border-radius: 35px;
    border-width: 1px;
    border-style: solid;
    border-color: #c4d9df #a4c3ca #83afb7;
    height: 39px;
    margin-top: 5px;
    padding: 5px;
    overflow: hidden; }
    .pre-header form#searchbox input#search {
      padding: 5px 9px;
      height: 23px;
      width: 76%;
      border: 1px solid #a4c3ca;
      font: normal 13px 'trebuchet MS', arial, helvetica;
      background: #f1f1f1;
      -moz-border-radius: 50px 3px 3px 50px;
      border-radius: 50px 3px 3px 50px;
      -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 white;
      -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 white;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 white; }
    .pre-header form#searchbox input#submit {
      -moz-border-radius: 3px 50px 50px 3px;
      border-radius: 3px 50px 50px 3px;
      border-width: 1px;
      border-style: solid;
      border-color: #8E8C8C;
      -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
      -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
      height: 26px;
      margin: 0 0 0 10px;
      padding: 0;
      width: 20%;
      cursor: pointer;
      color: #23441e;
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
      font-weight: 600; }
    .pre-header form#searchbox #submit:hover {
      background-color: #E1E1EA; }
    .pre-header form#searchbox #submit:active {
      background: #8E8C8C;
      outline: none;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset; }

.header .static-content img {
  width: 100%; }
.header nav ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 15px;
  padding: 0; }
  .header nav ul.level1 {
    height: 25px; }
    .header nav ul.level1 > li {
      display: inline;
      float: left;
      padding-right: 5px; }
      .header nav ul.level1 > li > div > a {
        background-color: white;
        color: #2D2D2D;
        padding: 6px 16px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        border: 1px solid transparent;
        border-radius: 4px;
        width: auto; }
        .header nav ul.level1 > li > div > a.selected {
          background-color: #2D2D2D;
          color: white; }
        .header nav ul.level1 > li > div > a:hover {
          background-color: #2D2D2D;
          color: white; }
  .header nav ul.level2 li {
    background-color: #dfdfdf; }
    .header nav ul.level2 li a {
      color: black; }
      .header nav ul.level2 li a:hover {
        background-color: #2D2D2D;
        text-decoration: underline;
        color: white; }

.main {
  background: #e3e3e3;
  border-top: 2px solid #bbb; }
  .main div.error {
    font-size: 20px;
    color: #e25252;
    margin-top: 5px;
    margin-bottom: 30px; }
  .main .login {
    width: 100%; }
    .main .login h1 {
      margin-bottom: 25px; }
    .main .login .row {
      margin-bottom: 10px; }
  .main .home-carousel {
    margin-top: 25px; }
    .main .home-carousel img {
      width: 100%; }
  .main .search-results {
    font-weight: 600;
    font-size: 16px; }
  .main .right-sidebar-content-holder {
    background-color: white;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #d8d8d8;
    border-right: 1px solid #ccc;
    border-left: 1px solid #DBDBDB;
    padding: 12px;
    margin-top: 25px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); }
    .main .right-sidebar-content-holder h2 {
      background: #d8d8d8;
      background: -moz-linear-gradient(#fff, #d8d8d8);
      background: -webkit-linear-gradient(#fff, #d8d8d8);
      background: -o-linear-gradient(#fff, #d8d8d8);
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#d8d8d8')";
      background: linear-gradient(#fff, #d8d8d8);
      font-size: 22px;
      text-align: center;
      padding-bottom: 6px;
      margin-top: -2%;
      margin-left: -5%;
      margin-right: -5%; }
    .main .right-sidebar-content-holder div.content-holder {
      margin: 0 auto;
      width: 80%; }

.footer {
  background: #111;
  color: white;
  padding-top: 20px;
  padding-bottom: 30px;
  border-top: 2px solid #6C6060; }
  .footer ul {
    padding: 0; }
    .footer ul li {
      display: inline;
      margin-right: 5px; }
      .footer ul li a {
        color: #C7C7C7; }
        .footer ul li a:hover {
          color: #838383; }
      .footer ul li.right {
        padding-left: 20%; }
      .footer ul li:first-child {
        margin-left: 34px; }

.clear {
  clear: both; }

.margin-t5 {
  margin-top: 5px; }

.dropdown-submenu {
  position: relative; }

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px; }

.dropdown-submenu:hover > .dropdown-menu {
  display: block; }

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px; }

.dropdown-submenu:hover > a:after {
  border-left-color: #fff; }

.dropdown-submenu.pull-left {
  float: none; }

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px; }

.dropdown:hover > .dropdown-menu {
  display: block; }

/*# sourceMappingURL=../../../../Program Files (x86)/Microsoft Visual Studio 12.0/Common7/IDE/layout.css.map */