$linkColor: #BF251C;
$grayButton: #2D2D2D;
$borderColor: #bbb;

body {
	background: url('img/background.jpg');
}

	// layout
	.container {
		background: #f4f4f4;
	}

	.pre-header {
		height: 50px;
		border-bottom: 2px solid #A3A2A2;
		background: #fcfff4; /* Old browsers */
		background: -moz-linear-gradient(top, #fcfff4 0%, #EFECEC 40%, rgba(179,190,173,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfff4), color-stop(40%,#EFECEC), color-stop(100%,#B8B8B8)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #fcfff4 0%,#EFECEC 40%,#B8B8B8 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #fcfff4 0%,#EFECEC 40%,#B8B8B8 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #fcfff4 0%,#EFECEC 40%,#B8B8B8 100%); /* IE10+ */
		background: linear-gradient(to bottom, #fcfff4 0%, #EFECEC 40%, #B8B8B8 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 ); /* IE6-9 */

		img{
			margin-top: 9px;
			float: left;
		}

		ul{
			float: left;
			margin-top: 11px;
			li{
				display: inline;
				list-style: none;
				margin-right:10px;
				color: #5F5C5C;
				a{
					color: #5F5C5C;
					&:hover{
						color: #838383;
					}
				}
			}
		}

		form#searchbox {
			background-color: #eaf8fc;
			background-image: linear-gradient(#fff, #D2D2D2);
			border-radius: 35px;
			border-width: 1px;
			border-style: solid;
			border-color: #c4d9df #a4c3ca #83afb7;
			height: 39px;
			margin-top: 5px;
			padding: 5px;
			overflow: hidden;

			input#search {
				padding: 5px 9px;
				height: 23px;
				width: 76%;
				border: 1px solid #a4c3ca;
				font: normal 13px 'trebuchet MS', arial, helvetica;
				background: #f1f1f1;
				-moz-border-radius: 50px 3px 3px 50px;
				border-radius: 50px 3px 3px 50px;
				-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 white;
				-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 white;
				box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 white;
			}

			input#submit {
				-moz-border-radius: 3px 50px 50px 3px;
				border-radius: 3px 50px 50px 3px;
				border-width: 1px;
				border-style: solid;
				border-color: #8E8C8C;
				-moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
				-webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
				box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
				height: 26px;
				margin: 0 0 0 10px;
				padding: 0;
				width: 20%;
				cursor: pointer;
				color: #23441e;
				text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
				font-weight: 600;
			}

			#submit:hover {
				background-color: #E1E1EA;
			}

			#submit:active {
				background: #8E8C8C;
				outline: none;
				box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
			}
		}
	}

	.header {
		.static-content img {
			width: 100%;
		}
		nav{
			ul {
				list-style-type: none;
				margin-top:0;
				margin-bottom: 15px;
				padding: 0;

				&.level1{
					> li {
						display:inline;
						float:left;
						padding-right:5px;
						> div > a{
							background-color:$grayButton;
							color: white;
							padding: 6px 12px;
							margin-bottom: 0;
							font-size: 14px;
							font-weight: 400;
							border: 1px solid transparent;
							border-radius: 4px;
							width: auto;
							&:hover{
								background-color:$grayButton;
							}
						}
					}
				}
				&.level2{
					li{
						background-color: #dfdfdf;
						a{
							color:black;
							&:hover{
								background-color:$grayButton;
								text-decoration:underline;
								color:white;
							}
						}
					}
				}
			}
		}
	}

.main{
	background: #e3e3e3;
	border-top: 2px solid #bbb;

	.home-carousel{
		margin-top:25px;
		img{
			width:100%;
		}
	}

	.right-sidebar-content-holder {
		background-color: white;
		border-bottom: 1px solid #ccc;
		border-top: 1px solid #d8d8d8;
		border-right: 1px solid #ccc;
		border-left: 1px solid #DBDBDB;
		padding: 12px;
		margin-top: 25px;
		box-shadow: 0 0 5px rgba(0,0,0,0.15);

		h2{
			background: #d8d8d8;
			background: -moz-linear-gradient(#fff, #d8d8d8);
			background: -webkit-linear-gradient(#fff, #d8d8d8);
			background: -o-linear-gradient(#fff, #d8d8d8);
			-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#d8d8d8')";
			background: linear-gradient(#fff, #d8d8d8);
			font-size:22px;
			text-align: center;
			padding-bottom: 6px;
			margin-top: -2%;
			margin-left: -5%;
			margin-right: -5%;
		}
	}
}

.footer {
	background: #111;
	color: white;
	padding-top: 20px;
	padding-bottom: 30px;
	border-top: 2px solid #6C6060;

	ul {
		padding: 0;

		li {
			display: inline;
			margin-right: 5px;

			a {
				color: #C7C7C7;

				&:hover {
					color: #838383;
				}
			}
		}
	}
}

.clear{
	clear:both;
}


// news content

.news-details-template {
	margin-top: 25px;
	margin-bottom: 25px;
	padding:12px;
	background-color:white;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #d8d8d8;
	border-right: 1px solid #ccc;
	border-left: 1px solid #DBDBDB;
	box-shadow: 0 0 5px rgba(0,0,0,0.15);

	.date-image {
		float: left;
		padding-right: 10px;
	}

	.news-headline {
		float: left;
		width: 90%;
		h2{
			margin-top: 0;
			margin-bottom: 25px;
			font-size: 26px;
			a{
				color:$linkColor;
				&:hover{
					color:$linkColor;
				}
			}
		}
	}
}



.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.dropdown:hover > .dropdown-menu {
    display: block;
 }