body {
  background: url('img/background.jpg'); }
  body .container {
    background: #f4f4f4; }
  body .pre-header {
    height: 50px;
    border-bottom: 2px solid #bbb;
    background: #fcfff4;
    /* Old browsers */
    background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcfff4), color-stop(40%, #dfe5d7), color-stop(100%, #b3bead));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
    /* IE6-9 */ }
    body .pre-header img {
      margin-top: 9px;
      float: left; }
    body .pre-header ul {
      float: left;
      display: inline;
      margin-top: 11px; }
      body .pre-header ul li {
        list-style: none; }
        body .pre-header ul li a {
          color: #766767; }
          body .pre-header ul li a:hover {
            color: #838383; }
    body .pre-header form#searchbox {
      background-color: #eaf8fc;
      background-image: linear-gradient(#fff, #d4e8ec);
      border-radius: 35px;
      border-width: 1px;
      border-style: solid;
      border-color: #c4d9df #a4c3ca #83afb7;
      height: 39px;
      margin-top: 5px;
      padding: 5px;
      overflow: hidden; }
      body .pre-header form#searchbox input#search {
        padding: 5px 9px;
        height: 23px;
        width: 76%;
        border: 1px solid #a4c3ca;
        font: normal 13px 'trebuchet MS', arial, helvetica;
        background: #f1f1f1;
        -moz-border-radius: 50px 3px 3px 50px;
        border-radius: 50px 3px 3px 50px;
        -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 white;
        -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 white; }
      body .pre-header form#searchbox input#submit {
        -moz-border-radius: 3px 50px 50px 3px;
        border-radius: 3px 50px 50px 3px;
        border-width: 1px;
        border-style: solid;
        border-color: #7eba7c #578e57 #447d43;
        -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
        -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
        box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
        height: 26px;
        margin: 0 0 0 10px;
        padding: 0;
        width: 20%;
        cursor: pointer;
        color: #23441e;
        text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
        font-weight: 600; }
      body .pre-header form#searchbox #submit:hover {
        background-color: #95d788;
        background-image: linear-gradient(#6cbb6b, #95d788); }
      body .pre-header form#searchbox #submit:active {
        background: #95d788;
        outline: none;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset; }
  body .header .static-content img {
    width: 100%; }
  body .main {
    background: #e3e3e3; }
    body .main .home-carousel {
      margin-top: 25px; }
      body .main .home-carousel img {
        width: 100%; }
  body .footer {
    background: #111;
    color: white;
    padding-top: 20px;
    padding-bottom: 30px; }
  body .clear {
    clear: both; }

.news-details-template {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 12px;
  background-color: white;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #d8d8d8;
  border-right: 1px solid #ccc;
  border-left: 1px solid #DBDBDB; }
  .news-details-template .date-image {
    float: left;
    padding-right: 10px; }
  .news-details-template .news-headline {
    float: left;
    width: 90%; }
    .news-details-template .news-headline h2 {
      margin-top: 0;
      margin-bottom: 25px;
      font-size: 26px; }
      .news-details-template .news-headline h2 a {
        color: #BF251C; }
        .news-details-template .news-headline h2 a:hover {
          color: #BF251C; }

/*# sourceMappingURL=layout.css.map */